@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../webfonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Titillium Web", sans-serif;
  src: url("../webfonts/Titillium_Web/TitilliumWeb-Regular.ttf");
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0 none;
}
:root {
  --black: #000;
  --white: #fff;
  --yellow: #ffc311;
  --letraCuerpo: #7d7d7e;
  --tituloCardsNegro: #282828;
  --footerBg:#070707;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
